@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");

body {
  background: #1a1e23;
  margin: 0;
}

h1 {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 45px;
}

p {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

black {
  color: black;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
}

.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 340px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}